<!DOCTYPE html>
<html ng-app>

  <head>
    <title>Golo Web Console</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
    <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="controllers.js"></script>
    <style type="text/css" media="screen">
      #editor {
        position: relative;
        width: 100%;
        height: 30em;
        margin-bottom: 2em;
      }
      .section {
        margin-top: 2em;
        margin-bottom: 2em;
      }
    </style>
  </head>

  <body>
    <div class="container" ng-controller="ConsoleController">
      
      <div class="row section">
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown">Samples <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#" ng-click="load('hello')">Hello world</a></li>
            <li><a href="#" ng-click="load('filter-map-reduce')">Filter / map / reduce</a></li>
            <li><a href="#" ng-click="load('pimp')">Pimps: adding join() to Java lists</a></li>
            <li><a href="#" ng-click="load('matching')">Matching operator</a></li>
          </ul>
        </div>
      </div>
      
      <div class="row section">        
        <div id="editor"></div>
        <div>
          <button id="exec-button" class="btn btn-large" ng-click="run()">
            <i id="exec-icon" class="icon-play icon-large"></i> Run (Command+E)            
          </button>          
        </div>        
      </div>
      
      <div class="row section">
        <h3>Output</h3>
        <pre id="output">{{output}}</pre>
      </div>
      
    </div>
  </body>

<script id="hello" type="text/golo">module test

function run = |context| {
  context: log("Golo World")
}
</script>
  
<script id="filter-map-reduce" type="text/golo">module test

import java.util

function run = |context| {

  let list = LinkedList()
  foreach (i in range(1, 1000)) {
    list: append(i, i * 2, i * 3)
  }

  let sum_of_even_plus_two = list:
    map(|x| -> x + 2):
    filter(|x| -> (x % 2) == 0):
    reduce(0, |acc, x| -> acc + x)

  return sum_of_even_plus_two
}
</script>

<script id="pimp" type="text/golo">module test

import java.lang
import java.util

pimp java.util.List {

  function join = |this, separator| {
    let builder = StringBuilder()
    var first = true
    foreach (element in this) {
      case {
        when first {
          builder: append(element)
          first = false
        }
        otherwise {
          builder: append(separator): append(element)
        }
      }      
    }
    return builder: toString()
  }
}

function run = |context| {
  let list = LinkedList(): append("foo", "bar", "baz")
  return "[" + list: join(", ") + "]"
}
</script>

<script id="matching" type="text/golo">module test

import java.util.LinkedList

local function data = -> LinkedList(): 
  append("foo@bar.com", "+33.6.11.22.33"):
  append("http://golo-lang.org/"):
  append("def foo = bar(_._) with :> T")

local function what_it_could_be = |item| -> match {
  when item: contains("@") then "an email?"
  when item: startsWith("+33") then "a French phone number?"
  when item: startsWith("http://") then "a website URL?"
  otherwise "I have no clue, mate!"
}

function run = |context| {
  foreach (item in data()) {
    context: log(item + " => " + what_it_could_be(item))
  }
  return "Ok"
}
</script>

</html>
